/*Navigation with flexbox mobile first*/

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background: lightgray;
    width: 100%;
    padding: 0 20px;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 15%;
}

#logo,
#main-nav a {
    color: black;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}



/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column; /*remove this if you do not want the column layout whit logo above menu for medium size screens*/
    }

    #logo-burger {
        margin: 0;

    }

    #logo {
        margin-top: .3em;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }

}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
    header {
        flex-direction: row;
        align-items: center;
    }

}
